<html>
    <head>
        <meta charset="utf-8">
        {% load static %}
        <title>{{ title }}</title>
        <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'scripts/jquery-3.1.0.min.js' %}"></script>
    </head>
    <body>
        <div id="header">
            <div id="header_head">Мероприятия</div>
            <a href="#" id="header_login">Войти</a>
            <a href="#" id="header_sign_up">Зарегистрироваться</a>
            <a href="#" id="header_logout">Выйти</a>
            <a href="#" id="header_user_page">User</a>
            <div class="br"></div>
        </div>
        {% block items %}
        <div class="item_container">
            {{ items }}
        </div>
        {% endblock %}
        <script src="{% static 'scripts/script.js' %}"></script>
        
    </body>
</html>