#header_head
{
    display:inline-block;
    width : 50%;
    font-weight : bold;
    font-size : 50px;
    line-height : 100%;
}

#header_user_page
{
    display:none;
    margin: 10px 5px;
    float:right;
}

#header_logout
{
    display:none;
    margin: 10px 5px;
    float:right;
    line-height : 100%;
}

#header_login 
{
    display:inline-block;
    float : right;
    margin: 10px 5px;
    line-height : 100%;
}

#header_sign_up
{
    display:inline-block;
    margin: 10px 5px;
    float:right;
}

#header
{
    position:relative;
    width : 100%;
    display : block;
    font-size : 20px;
}

.br
{
    height:3px;
    background-color:black;
}

.item_container
{
    flex-wrap :wrap;
    justify-content:space-around;
    position : relative;
    width : 100%;
}

.item 
{
    display:flex;
    flex-direction : row;
    flex-wrap : wrap;
    justify-content:space-around;
    margin: 10px 10px;
}

.item:hover
{
    background-color : rgb(213, 204, 204);
}

.item_view
{
    width : calc(100% - 304px);
}


.item_desc
{
    text-align : center;
    font-size: 20px;
}


.item_cap
{
    text-align:center;
    line-height:100%;
    font-size : 70;
}

img
{
    display : block;
    width: 300px;
    height: 300px;
    border : 2px solid black;
    border-radius: 10px;
    text-align : center;
    margin : auto;
}

@media screen and (max-width: 400px)
{
    .item {
        flex-direction: column;
    }
    .item_view {
        width : 100%;
     }
}
